.regh2 {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
}

.creatorBtn {
	margin-top: 30px;
}

.noUnderline:hover {
	text-decoration: none;
}

.stickyCounter {
	padding-top: 70px;
}

.counterJumbo {
	padding: 8rem 5rem;
}

.previousBudgets {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 30px;
}

.overviewBudgetsContainer {
	border: .2rem solid #ececec;
	border-width: .2rem .2rem .2rem;
	border-radius: 8px 8px 8px 8px;
	padding: 10px 20px 10px 20px;
}
