body {
	background-color: #f5f7f8;
}
.regh2 {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
	color: #1256a5;
}

.creatorBtn {
	margin-top: 30px;
}

.noUnderline:hover {
	text-decoration: none;
}

.stickyCounter {
	padding-top: 70px;
}

.counterJumbo {
	padding: 1rem 0.75rem;
	width: 413px;
	height: auto;
}

.previousBudgets {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.overviewBudgetsContainer {
	border: .2rem solid #ececec;
	background-color: #ececec;
	border-width: .2rem .2rem .2rem;
	border-radius: 8px 8px 8px 8px;
	padding: 10px 15px 10px 20px;
}

.jumbotron {
	background-color: #11111100;
}

.incomeBtn:hover {
	cursor: default;
}

.incomeBtn {
	margin-top: 25px;
	margin-bottom: 25px;
}

.centerh5s {
	text-align: center;
}

.btnToRight {
	float: right;
}

.euroImg {
	width: 20px;
	text-align: center;
	display: block;
}

.h4inoverview {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.h3increator {
	padding-top: 17px;
	padding-bottom: 17px;
	text-align: center;
}

.card-img-top {
	width: 40%;
	text-align: center;
	padding-top: 5px;
	margin: 0 auto;
}

.leftColCreatorEditor {
	padding-top: 80px;
}

.submitZero {
	margin-top: 35px;
}

.formBetween {
	margin-top: 10px;
	margin-bottom: 25px;
}
