body {
	background-color: #f5f7f8;
}
.regh2 {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
}

.creatorBtn {
	margin-top: 30px;
}

.noUnderline:hover {
	text-decoration: none;
}

.stickyCounter {
	padding-top: 70px;
}

.counterJumbo {
	padding: 1rem 0.75rem;
	width: 413px;
	height: auto;
}

.previousBudgets {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 30px;
}

.overviewBudgetsContainer {
	border: .2rem solid #ececec;
	border-width: .2rem .2rem .2rem;
	border-radius: 8px 8px 8px 8px;
	padding: 10px 20px 10px 20px;
}

.jumbotron {
	background-color: #11111100;
}

.incomeBtn:hover {
	cursor: default;
}

.incomeBtn {
	margin-top: 10px;
	margin-bottom: 10px;
}

.centerh5s {
	text-align: center;
}
